.navbar-nav a{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
#logo{
    height: 50px;
}
.nav-link{
    font-weight: bold;
}
.nav-dark,.navbar-nav, .nav-link.active{
    color: coral!important;
    font-weight: bolder !important;
}
.nav-dark,.navbar-nav, .nav-link:hover {
    color: coral !important;
}
.nav-item{
    margin-left: 90px;
}
.homepage1{
    background-image: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30) ), url("../images/drink.JPG");
    background-size: cover;
    color:white;
    height: 90vh;
}
.box1{
    display: flex;
}
.part1, .part3{
    width: 30%;
}
.part2{
    width: 40%;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    text-align: left;
    height: 90vh;
    position: relative;
}
#aboutme{
    height: 100vh;
}
.links{
    height: 10vh;
    text-align: center;
}
.links, .link1, .link2,.link3,.link4{
    display: flex;
    text-align: left;
}
.link1,.link2,.link3,.link4{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 40%;
    padding-left: 40px;
}
.section2{
    height: 10vh;
    background-color: #ffffff;
    color: #444a51;
    font-family: 'Comfortaa', cursive;
}


